@page "{currentPage:int?}"
@model TechHub.Web.Pages.IndexModel
@{
    ViewData["Title"] = "تک‌هاب | اخبار فناوری";
}

@if (Model.CurrentPage == 1)
{
    <div class="row justify-content-center my-5">
        <div class="col-lg-9">
            <partial name="_PostFeatured" model="Model.PostSummaryDtos.First()" />
        </div>
    </div>
    <hr />
}

<div class="row justify-content-center">
    <div class="col-lg-9 h4 pb-2 my-4 border-bottom border-danger border-3 fw-light">
        @if (Model.CurrentPage > 1)
        {
            <span>آخرین پست ها | صفحه @Model.CurrentPage.ToPersianNumbers()</span>
        }
        else
        {
            <span>آخرین پست ها</span>
        }
    </div>
</div>

@foreach (var post in Model.PostSummaryDtos.Skip(Model.CurrentPage == 1 ? 1 : 0))
{
    <div class="row justify-content-center my-2">
        <div class="col-lg-9">
            <partial name="_PostSummary" model="post" />
            <hr>
        </div>
    </div>
}

<div class="row justify-content-center my-2">
    <div class="col-auto">
        <partial name="_Pagination" model="@Model.Pagination" />
    </div>
</div>