@page
@model TechHub.Web.Pages.NotFoundModel
@{
    ViewData["Title"] = "404 - صفحه مورد نظر پیدا نشد";
}


<div class="d-flex align-items-center justify-content-center">
    <div class="text-center">
        <h1 class="display-1 fw-bold">404</h1>
        <p class="fs-3">صفحه مورد نظر پیدا نشد.</p>
        <a href="./" class="btn btn-primary">بازگشت به صفحه اصلی</a>
    </div>
</div>